/* Semua */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ccc;
  padding-right: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Akhir */

/* Section */
.wrapper {
  width: 100%;
  perspective: 50rem;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
  position: relative;
  left: 0;
  margin-bottom: 3rem;
  transform-origin: left;
  box-shadow: 0.5rem 0.5rem 1rem #aaa;
  padding: 5rem 0;
  transition: left 0.5s, transform 0.5s;
}

section.change {
  left: 15vw;
  transform: rotateY(10deg);
}

.section-heading {
  font-size: 7rem;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 10rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
}
/* Akhir Section */

/* pertama */
.section-1 {
  justify-content: space-evenly;
  flex-direction: column;
  background: url(gambar/bg-section1.jpg) center no-repeat;
  background-size: cover;
}

.section-1 .section-1-heading {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 1rem #000, 2rem 2rem 2rem #111, 3rem 3rem 3rem #222;
}

.section-1-img {
  width: 70%;
}
/* Akhir Pertama */

/* Kedua */
.section-2 {
  height: auto;
  display: flex;
  padding: 5rem 0 10rem 0;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  width: 40rem;
  margin: 3rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0.6rem 0.6rem 0.6rem #bbb;
  position: relative;
  transition: box-shadow 0.5s;
}

.cards-wrapper {
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem #bbb;
}

.car-name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.card-img {
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.card:hover .card-img {
  opacity: 1;
}

.car-price {
  font-size: 1.8rem;
  color: #777;
  margin: 0.5rem 0;
}

.card-btn {
  width: 100%;
  background-color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
  box-shadow: 0.1rem 0.1rem 0.5rem #bbb;
}
/* Akhir Kedua */

/* Tentang */

.section-tentang {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  height: auto;
}

.isi-tentang {
  font-size: 8rem;
  font-weight: lighter;
  color: #fff;
  text-align: center;
}
/* Akhir Tentang */
